-i https://pypi.org/simple
click==8.1.3 ; python_version >= '3.7'
flask==2.1.1
flask-cors==3.0.10 ; python_version >= '3.8'
gunicorn==20.1.0
importlib-metadata==5.1.0 ; python_version < '3.10'
itsdangerous==2.1.2 ; python_version >= '3.7'
jinja2==3.1.2 ; python_version >= '3.7'
keras==2.8.0 ; python_version >= '3.8'
markupsafe==2.1.1 ; python_version >= '3.7'
numpy==1.22.0 ; python_version >= '3.8'
opencv-python==4.5.4.60 ; python_version >= '3.8'
pillow==8.4.0 ; python_version >= '3.8'
setuptools==65.6.3 ; python_version >= '3.7'
tensorflow==2.8.0 ; python_version >= '3.8'
twilio==6.75.0 ; python_version >= '3.8'
werkzeug==2.2.2 ; python_version >= '3.7'
zipp==3.11.0 ; python_version >= '3.7